.locked_header
{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 120px;
  width: 100%;
  background-color: rgb(255, 121, 80);
}

.sub_header
{
  position: fixed;
  left: 0px;
  top: 120px;
  height: 40px;
  width: 100%;
  background-color: rgb(237, 253, 92);
}

#body
{
  margin-top: 170px;
  height: 100%;
  overflow: auto;
  background-color: rgb(147, 211, 197);
}

.basic_table
{
  border-spacing: 10px;
  border-color: transparent;
  border-collapse: separate;
  text-align: left;
}

.basic_table th:hover
{
  color: rgb(54, 54, 54);
  border-color: black;
  text-align: left;
}

.sep_table
{
  border-spacing:0px;
  border-bottom-color: black;
  width: 100%;
}

/* .sep_table th:hover
{
} */

/* td
{
  text-align: center;
} */