#locked_header
{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 110px;
  width: 100%;
  background-color: rgb(231, 92, 80);
}

#body
{
  margin-top: 120px;
  height: 100%;
  overflow: auto;
}

.test_table th:hover
{
  background-color: #999;
}

/* td
{
  text-align: center;
} */